html, body {
    margin: 20px auto;
    padding: 0;
    width: 400px;
    font-family: 'Sen', sans-serif;
}

  /********* header ***********/

h1 {
    margin: 0;
    padding: 1rem .5rem;
    color: whitesmoke;
    background-color: #3d405b
}

.reg-weight {
    font-weight: 400;
}



/********** bird panel **********/

.bird-pic {
    width: 100px;
    border-radius: 2px;
}

.panel {
    border-bottom: #1F7A8C 2px solid;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem 1rem 1rem 0;
    background-color: whitesmoke;
}

p,
.species-text {
    margin: 0;
}

.mid-section {
    margin-left: 1rem;
}

button {
    cursor: pointer;
    color: whitesmoke;
    background-color: #e07a5f;
    border: none;
    border-radius: 3px;
}

.counter-section {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    font-size: 20px;
    margin: .5rem;
    cursor: pointer;
}

.bird-num {
    background-color: white;
    border: 2px gray solid;
    border-radius: 2px;
    padding: .35rem .5rem;
}



/********* info section **********/

.info-btn {
    border-radius: 3px;
    width: 6rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.collapsed {
    display: none;
}

.info-text {
    border-bottom: #1F7A8C 2px solid;
    padding: 1rem;
    background-color: #E1E5F2;
}



/******** total section *********/

.total-line {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    padding: .25rem;
}

.total-species, 
.total-count {
    display: block;
}

.share-btn {
    border-radius: 3px;
    margin: 0 auto;
    padding: .25rem .5rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.share-btn-container {
    display: flex;
    justify-content: center;
}



/********* modal *********/

.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 280px;
    height: 150px;
    padding: 1rem;
    border-radius: 2px;
    background-color: #f2cc8f;
    box-shadow: 11px 10px 359px 61px rgba(0,0,0,0.75);
}

input,
.close-btn {
    margin: .5rem 0;
    padding: .25rem;
    border: none;
    border-radius: 2px;
    width: 100%;
}

.submit-btn, 
.close-btn {
    display: block;
    cursor: pointer;
}